:root {
    --green: rgb(167, 188, 32);
    --white: #ffffff;
    --red: #FF6612;
    --header-color:#38404F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

html {
    font-size: 10px;
}


header {
    width: 100%;
    height: 7rem;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    border-bottom: 1px solid lightgray;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
    z-index: 999999;
}

.logo_container {
    height: 60%;
}

.navbar {
    width: 45%;
}


.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid red; */
    height: 8rem;
    /* padding-top: 5%; */
}


.menu li {
    position: relative;
    cursor: pointer;
    padding: 1rem;
}

.sub-menu {
    position: absolute;
    /* width: 25rem; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    left: -7rem;
    opacity: 0;
    visibility: hidden;
    transition: .5s all;
    /* background-color: red; */
}

.sub-menu {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.menu li:hover .sub-menu {
    left: 0;
    opacity: 1;
    visibility: visible;
}



.menu li a {
    font-size: 1.5rem;
    font-weight: 700;
    position: relative;
}

.sub-menu li {
    font-size: 2rem;
    line-height: 4rem;
}

.fa-angle-down {
    position: absolute;
    top: .6rem;
    right: -1.5rem;
    transition: .4s all;
}

.menu li a:hover .fa-angle-down {
    transform: rotate(180deg);
}

.sub-menu li:hover {
    background-color: antiquewhite;
}


.right_navbar {
    float: right;
}

/* **************************************** */


.btn1 {
    padding: .8rem 2rem;
    background-color: var(--white);
    border: 1px solid var(--red);
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--red);
    font-weight: 600;
    border-radius: 1rem;
    flex-shrink: 2;
    text-decoration: none;
}

.btn1:hover {
    background-color: var(--red);
    border: 0;
    color: var(--white);
}


/* button end ------------------------------------------*/





/* main styling */
.main_section {
    width: 100%;
    height: auto;
    /* margin-bottom: 3.125rem; */
    background-color: white;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
}

.left_section {
    width: 45rem;
    height: 100%;
    margin-left: -7.4rem;
}

.banner-img {
    width: 100%;
    height: 100%;
}

.right_section {
    width: 60%;
    /* padding-left: 8rem; */
    /* margin-left: 8rem; */
    padding-top: 3%;
    padding-bottom: 2rem;
    position: relative;
}

.right_section h1 {
    font-size: 7.5rem;
    line-height: 8.5rem;
    font-weight: 300;
    /* font-style: normal; */
}

.bld {
    letter-spacing: normal;
    font-weight: 700;
    text-transform: none;
    font-size: 10.5rem;
    color: var(--red);
}

.right_section>p {
    font-size: 1.8rem;
    line-height: 30px;
    margin-top: 1.2rem;
    margin-bottom: 1.8rem;
}

.card_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 2px solid blue; */
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 4rem 2rem;
    /* background-color: rgb(146, 141, 83); */
}

.card_item {
    background-color: white;
    height: 27rem;
    width: 30%;
    position: relative;
    margin-right: 1rem;
    /* margin-bottom: 2rem; */
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
    border-radius: .7rem;
    overflow: hidden;
    background-color: white;

}

.card_item h3 {
    font-size: 1.8rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-bottom: .6rem;
}

.card_item>p {
    font-size: 1.5rem;
    margin-left: 1.5rem;
    margin-bottom: 1.2rem;
    color: #918F9B;
}

.card_img_container {
    width: 100%;
    height: 100%;
}

.button_container {
    margin-bottom: 2rem;
    margin-left: 2.5rem;
    /* border: 2px solid red; */
}

.arrow_btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    border: none;
    color: var(--red);
    margin-left: 1.4rem;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
    border: 1px solid lightgray;
    cursor: pointer;
}


/* main section ended here */


/* progress bar styling */
.progress_container {
    border-top: 1px solid rgba(128, 128, 128, 0.568);
    border-bottom: 1px solid rgba(128, 128, 128, 0.568);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.progress_box {
    display: flex;
    align-items: center;
}

/* Apply CSS properties to ui-widgets class */
.progress_item {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 1.5rem;
    border: 1.2rem solid var(--red);
    box-shadow: inset 0 0 7px grey;
    border-left-color: var(--white);
    border-top-color: var(--red);
    border-right-color: var(--red);
    border-bottom-color: var(--red);
    /* text-align: center; */
    box-sizing: border-box;
}





/*  Apply css properties to the second 
    child of ui-widgets class */
.sec {
    border-top-color: var(--red);
    border-right-color: var(--red);
    border-left-color: var(--red);
    border-bottom-color: white;
}

.third {
    border-top-color: white;
    border-right-color: var(--red);
    border-left-color: white;
    border-bottom-color: var(--red);
}

.fourth {
    border-top-color: var(--red);
    border-right-color: var(--red);
    border-left-color: var(--red);
    border-bottom-color: var(--red);
}


.pro_text h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

.pro_text p {
    font-size: 1.2rem;
    font-weight: 600;
    color: gray;
}

/* progress bar ended here */


/* tour conatiner card section */

.tour_container {
    /* max-width: 90%; */
    text-align: center;
    /* margin: 0 auto; */
}

.tour_container h2 {
    text-align: center;
    font-size: 3.5rem;
    text-transform: uppercase;
    /* margin-bottom: 3rem; */
}



.tour_card_container {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap;
    margin: 4rem auto;

}


.tour_card {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
    /* max-width: 30%; */
    width: 40rem;
    overflow: hidden;
    margin-bottom: 3rem;
    border-radius: 1rem;
}


.card_img {
    width: 100%;
    object-fit: cover;
}

.tour_card div img {
    height: 30rem;
}

.desc {
    margin-top: 2rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.desc .remark {
    color: rgb(47, 177, 177);
    font-size: 2rem;
}

.desc h3 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}

.desc_text {
    color: gray;
    margin-bottom: 2.5rem;
    font-size: 1.5rem;

}



/* about container */
.about_container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    margin: 5rem auto 10rem auto;
    align-items: center;
}

.about_img_left {
    border-radius: 10px;
    width: 63rem;
}


.about_text_right {
    width: 45%;
}

.about_text_right h2 {
    color: rgb(47, 177, 177);
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}

.about_text_right h3 {
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    line-height: 1.2;
}

.about_text_right p {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    text-align: justify;
    padding-right: 1.2rem;
}

.bgocean {
    display: block;
}

.fa-chevron-right {
    margin-right: 1rem;
    margin-left: -.5rem;

}

/* top rating section */

.checked {
    color: orange;
}

.top_rating_container {
    width: 100%;
    height: 100rem;
    /* background-color: antiquewhite; */
    background-image: url('./images/trainbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;

    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 7rem;
    /* height: 100rem; */
}

.left_float {
    width: 30%;
    margin-top: 4rem;
}

.left_float h2 {
    font-size: 3rem;
    /* color: white; */
    text-transform: uppercase;
}

.left_float h3 {
    /* color: white; */
    font-size: 6rem;
    text-transform: uppercase;
}

.rating {
    margin-top: .5rem;
    margin-left: .1rem;
    font-size: 2.5rem;
}


.floating_box_container {
    background-color: rgba(209, 132, 31, 0.4);
    float: right;
    height: 100rem;
    width: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 4rem;
    margin-bottom: 4rem;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
    border-radius: 10px;
    backdrop-filter: blur(8px);
}

.float_container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    margin: 5rem auto 10rem auto;
    align-items: center;
}

.float_img_left {
    border-radius: 10px;
    width: 25rem;
    height: 30rem;
}

.float_right_container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
    color: white;
    /* margin-right: 4%; */
}

.float_text_right {
    width: 45%;
}

.float_text_right h2 {
    color: rgb(47, 177, 177);
    font-size: 2.5rem;
    text-transform: uppercase;
    color: white;
    margin-bottom: 1.2rem;
}

.float_text_right h3 {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    line-height: 1.2;
    color: white;
}

.float_text_right p {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    text-align: justify;
    color: white;
    padding-right: 1.2rem;
    color: rgb(243, 242, 242);
}



.fa-chevron-right {
    margin-right: 1rem;
    margin-left: -.5rem;
}


/* majaraj section styling */

.maharaj_section {
    width: 100%;
    height: 10rem;
    /* background-color: bisque; */
    border-image: url('./images/trainbg.jpg');
    background-size: cover;
}


/* internation_package */

.internation_package {
    /* width: 90%; */
    height: auto;
    /* border: 2px solid red; */
    margin: 0 auto;
}

.internation_package>h3{
    font-size: 7rem;
    text-transform: capitalize;
    margin-left: 5%;
    color: var(--header-color);
}

.internation_package>a{
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    color: #2C2D67;
    margin-top: 3rem;
    margin-left: 5%;
}


.inter_card {
    box-shadow: 0 0 0px 0 rgba(0, 0, 0, .05);
    /* max-width: 30%; */
    width: 20rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}


.inter_card div img {
    border-radius: 1rem;
    height: 20rem;
    width: 20rem;
    margin-bottom: 1rem;
}

.inter_card div+a {
    font-size: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    vertical-align: middle;
    font-weight: 700;
    cursor: pointer;
    padding: 1.5rem 0;
}
























/* FOOTER STYLING */
.footer_container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer_column {
    margin: 1.4rem;
}


.footer_column h2 {
    margin-bottom: 1rem;
}

.footer_column ul {
    list-style: none;
}

.footer_column a {
    font-size: 1.3rem;
    text-decoration: none;
    color: gray;
    font-weight: 600;
    line-height: 2rem;
}

.fa-facebook {
    color: var(--green);
}

.fa-facebook,
.fa-instagram,
.fa-twitter {
    margin-right: 1rem;
    font-size: 1.5rem;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover {
    color: orange;
}

.copyright {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem 0;
}

@media screen and (max-width:1272px) {
    .about_container {
        flex-direction: column;
    }



    .about_text_right {
        margin-top: 2rem;
        width: 63rem;
    }

    .bgocean {
        display: inline-block;
    }



}

@media screen and (max-width:1043px) {
    html {
        font-size: 60%;
    }

    .logo_img {
        width: 90%;
    }



}


@media screen and (max-width:998px) {
    html {
        font-size: 55%;
    }

    .logo_img {
        width: 80%;
    }


    .btn1 {
        font-size: 1.5rem;
        font-weight: 500;
        padding: .5rem 1.5rem;
    }
}

/* 817 */
@media screen and (max-width:818px) {
    html {
        font-size: 50%;
    }

    body {
        overflow-x: hidden;
    }


    .btn1 {
        font-size: 1.1rem;
        font-weight: 500;
        /* padding: 0.8rem 1rem; */
        padding: .5rem 1.5rem;
    }
}


/* responsive tablet view */
@media screen and (max-width:768px) {
    html {
        font-size: 45%;
    }

    body {
        /* overflow-x: hidden; */
        max-width: 100%;
    }

    .fa-bars {
        display: block;
        right: 4rem;
        top: 4rem;
        cursor: pointer;
    }



    .nav_bar {
        display: none;
    }

    .about_img_left {
        border-radius: 10px;
        width: 40rem;
        /* height: 100%; */
    }

    .about_text_right {
        margin-top: 2rem;
        width: 40rem;
    }

    .bgocean {
        display: inline;
    }

}

/* responsive mobile view */
@media screen and (max-width:480px) {
    html {
        font-size: 35%;
    }

    .about_img_left {
        border-radius: 10px;
        width: 40rem;
        /* height: 100%; */
    }

    .about_text_right {
        margin-top: 2rem;
        width: 40rem;
    }

    .bgocean {
        display: inline;
    }
}








/*
Mobile (Smartphone) max-width: 480px
Low-Resolution Tablets and iPads max-width: 767px
Tablets iPads portrait mode max-width: 1024px
Desktops max-width: 1280px
Huge size (Larger screen) max-width: 1281px and greater

 */